<div class="flex">
    <canvas class="40%" id="doughnutChart"></canvas>
    <div class="flex-grow-1 m-auto pl-3">
        <div class="relative w-full  overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full flex flex-col text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr class="grid grid-cols-3">
                        <th scope="col" class="px-6 py-3">
                            Id
                        </th>

                        <th scope="col" class="px-6 py-3">
                            Tên danh mục
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Số lượng sản phẩm có trong danh mục
                        </th>

                    </tr>
                </thead>
                <tbody class="max-h-[200px] overflow-y-scroll">
                    @if (listCate) {
                    @for (cate of listCate; track $index) {
                    <tr class="grid grid-cols-3 border-b-[1px] border-gray-500">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowra">
                            {{ cate.id }}
                        </th>

                        <td class="px-6 py-4">
                            {{ cate.name }}
                        </td>
                        <td class="px-6 py-4">
                            {{ cate.amount }}
                        </td>


                    </tr>
                    }
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>