<form [formGroup]="registerForm" (submit)="onSubmit()" class="max-w-sm mx-auto mt-[50px]">
    <div class="mb-5 ">
        <div class="flex items-center justify-center flex-col">
            <h2 class="text-2xl font-bold">Lấy lại mật khẩu</h2>
            <img routerLink="/home" class="p-3" width="200px" src="../../../assets/public/img/logo.png" alt="" />

        </div>
    </div>

    <div class=" mb-5">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Mật
            khẩu mới</label>
        <input type="password" placeholder="Mật khẩu" name="password" formControlName="pass1"
            autocomplete="current-password"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            required>
        @if (registerForm.get("pass1")?.invalid && (registerForm.get("pass1")?.touched ||
        registerForm.get("pass1")?.dirty)) {
        <div class="inline-block text-red-500">
            @if (registerForm.get("pass1")?.errors?.["required"]) {
            <span class="text-red-500">Vui lòng nhập mật khẩu</span>
            }

        </div>
        }
    </div>
    <div class=" mb-5">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Nhập lại mật
            khẩu mới</label>
        <input type="password" placeholder="Nhập lại mật khẩu" name="password" formControlName="pass2"
            autocomplete="current-password"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            required>
        @if (registerForm.get("pass2")?.invalid && (registerForm.get("pass2")?.touched ||
        registerForm.get("pass2")?.dirty)) {
        <div class="inline-block text-red-500">
            @if (registerForm.get("pass2")?.errors?.["required"]) {
            <span class="text-red-500">Vui lòng nhập lại mật khẩu</span>
            }
        </div>
        }
        @else if (registerForm.get("pass2")?.value != registerForm.get("pass1")?.value) {
        <div class="inline-block text-red-500">
            <span class="text-red-500">Mật khẩu không trùng</span>
        </div>
        }

    </div>

    <div>

        <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Đổi mật khẩu</button>
    </div>
    <div class="flex justify-between mt-3">
        @if (alert.status) {
        <span class="{{ alert.color }} font-semibold text-xl">{{ alert.mess }}</span>
        }

        <a routerLink="/login" class="text-blue-500 font-semibold hover:underline">Quay lại đăng nhập</a>
    </div>
</form>