<app-nav-admin></app-nav-admin>
<div class="p-4 sm:ml-64">

    <div class="flex items-center justify-center p-3 mb-4 rounded bg-gray-50 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
            Quản trị Website
        </p>
    </div>
    <app-category-analytic class="mt-3"></app-category-analytic>
    <hr class="my-3">
    <app-product-analytic class="mt-3"></app-product-analytic>
    <hr class="my-3">
    <app-bill-analytic class="mt-3"></app-bill-analytic>

</div>